html *{

}
ul *{
    margin:0;
    padding:0;
}
body{
    background-color:#ccc;
    font-family:'Open Sans';
    color:#333;
    margin:0;
    padding:0;
    text-align:center;
}
body *{
    box-sizing:border-box;

}
.wrap{
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
}
ul{
    list-style: none;
}

header{
    background:transparent url('header.jpg') center top no-repeat;
    padding:90px 30px;
    text-align:center;
}
header a{
    color:#fff;
}
h1{
    color:#fff;
    font-size:  50px;
    text-align: center;
}
h2{
    margin-bottom: 10px;
}
p{
    margin:0 10px;
}
h1, h2, h3, h4{
    font-family:Oswald;
    font-weight:normal;
    text-transform: uppercase;
}
span.notes{
    color:#19AFE6;
}
span.notes span{
    font-size:14px;
    color:#acacad;
}
section{
    margin-bottom:60px;
}
.example{
    font-size: 25px;
    overflow:hidden;
}
.example .paused{
    color:#398db4;
    font-size: 12px;
    position:absolute;
    right: 50%;
    width: 200px;
    margin-right:-100px;
}


/**
 * Slider CSS
 */
.jc-slider{
    overflow: hidden;
    width:100%;
}
.jc-slider *{
    box-sizing:border-box;
}

